@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Christmas Cocoa Shop</h1>
    <p class="lead">We are the Cocoa Shop! </p>
    <p>New or existing user? <br /> <a href="/Home/AddUser" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    <!--<p>Existing account? Log in here! <br /> <a href="/Home/UserLogin" class="btn btn-primary btn-lg">Log In &raquo;</a> </p> -->
    <p>Continue as a quest <br /> <a href="/Home/ListCustomers" class="btn btn-primary btn-lg">Guest &raquo;</a></p>
</div>


<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>